##
# Configuration file for PHPStan static code checking, see https://phpstan.org .
#

includes:
  - vendor/mglaman/phpstan-drupal/extension.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:

  level: 3

  paths:
    - src
    - tests

  excludePaths:
    - vendor/*

  ignoreErrors:
    -
      # Tests and data providers do not require parameter docblocks, so the
      # iterable type cannot always be specified.
      message: '#.*no value type specified in iterable type array.#'
      path: tests/*
      reportUnmatched: false
