<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="drupal/core/tests/bootstrap.php"
         cacheDirectory=".logs/.phpunit.cache"
         colors="true"
         executionOrder="depends,defects"
         failOnWarning="true"
         beStrictAboutCoverageMetadata="false">
  <php>
    <ini name="memory_limit" value="-1"/>
    <env name="SIMPLETEST_BASE_URL" value="http://localhost"/>
    <env name="SIMPLETEST_DB" value="sqlite://localhost/:memory:"/>
    <env name="BROWSERTEST_OUTPUT_DIRECTORY" value="/tmp"/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
  </php>
  <testsuites>
    <testsuite name="unit">
      <directory>./tests/Drupal/</directory>
      <exclude>./tests/Drupal/Tests/Driver/Kernel</exclude>
    </testsuite>
    <testsuite name="kernel">
      <directory>./tests/Drupal/Tests/Driver/Kernel</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>./src/Drupal/</directory>
    </include>
  </source>
  <coverage pathCoverage="false"
            ignoreDeprecatedCodeUnits="true">
    <report>
      <html outputDirectory=".logs/coverage/.coverage-html" lowUpperBound="50" highLowerBound="90"/>
      <cobertura outputFile=".logs/coverage/cobertura.xml"/>
      <text outputFile=".logs/coverage/coverage-summary.txt" showOnlySummary="true"/>
    </report>
  </coverage>
  <logging>
    <junit outputFile=".logs/phpunit/junit.xml"/>
  </logging>
</phpunit>
