<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="drupal/core/tests/bootstrap.php"
         cacheDirectory=".logs/.phpunit-kernel.cache"
         colors="true"
         executionOrder="depends,defects"
         failOnWarning="true"
         beStrictAboutCoverageMetadata="false">
  <php>
    <ini name="memory_limit" value="-1"/>
    <env name="SIMPLETEST_BASE_URL" value="http://localhost"/>
    <env name="SIMPLETEST_DB" value="sqlite://localhost/:memory:"/>
    <env name="BROWSERTEST_OUTPUT_DIRECTORY" value="/tmp"/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
  </php>
  <testsuites>
    <testsuite name="kernel">
      <directory>./tests/Drupal/Tests/Driver/Kernel</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>./src/Drupal/</directory>
    </include>
  </source>
  <logging>
    <junit outputFile=".logs/phpunit-kernel/junit.xml"/>
  </logging>
</phpunit>
